@model List<TagViewModel>

@{
    ViewData["Title"] = "Add a tag";
    string questionId = ViewData["questionId"].ToString();
}

<h3>Select a Tag or create a new one for question @questionId.</h3>

<hr />
<p>
    @foreach (var tagVM in Model)
    {
        <span class="badge badge-dark">
            @tagVM.Name 
            <a class="badge badge-success"
               asp-controller="Tags"
               asp-action="AttachQuestionTag"
               asp-route-questionId="@questionId"
               asp-route-tagId="@tagVM.Id">
                +
            </a>
            

        </span>
    }
</p>
<hr />

@await Component.InvokeAsync("CreateAndAddTag")

<hr />
<p>
    For more information on all the existing tags click
    <a asp-action="TagInfo"
       asp-controller="Tags">
        here
    </a>
    ...
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
