@model List<TagViewModel>

@{ 
    string questionId = ViewData["questionId"].ToString();
}

<h3>Select a Tag or create a new one for question @questionId.</h3>

<hr />
<p>
    @foreach (var tagVM in Model)
    {
        <span>
            @tagVM.Name (
            <a asp-controller="Tags"
               asp-action="AddQuestionTag"
               asp-route-questionId="@questionId"
               asp-route-tagId="@tagVM.Id">
                +
            </a>
            )

        </span>
    }
</p>
<hr />


