@model List<QuestionViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All questions</h1>
    @foreach (var item in Model)
    {
        @if (String.IsNullOrEmpty(item.Title))
        {
            <p>no title</p>
        }
        else
        {
            <p>
                <a asp-area=""
                   asp-controller="Questions"
                   asp-action="Details"
                   asp-route-questionId=@item.Id>@item.Title</a>
            </p>
            <p>@item.Body</p>
            <p>@item.DateAdded</p>
        }

    }
</div>
