@inject SignInManager<ApplicationUser> signInManager; 

@using Microsoft.AspNetCore.Authorization
    
@inject IAuthorizationService authorizationService; 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AskMate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="questionsNavbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Questions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="questionsNavbarDropdown">
                                <a class="dropdown-item"
                                   asp-action="Index" asp-controller="List">
                                    All Questions
                                </a>
                                <a class="dropdown-item"
                                   asp-action="AddQuestion" asp-controller="Questions">
                                    Add Question
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="usersNavbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="usersNavbarDropdown">
                                <a class="dropdown-item"
                                   asp-action="Privacy" asp-controller="Home">
                                    Privacy
                                </a>
                                <a class="dropdown-item"
                                   asp-action="AllUsers" asp-controller="User">
                                    All Users
                                </a>
                                <a class="dropdown-item"
                                   asp-action="UserActivity" asp-controller="User">
                                    User Activity
                                </a>
                            </div>
                        </li>
                        @if ((await authorizationService.AuthorizeAsync(User, "AdminAccess")).Succeeded == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                       asp-action="CreateRole" asp-controller="Administration">
                                        Create Role
                                    </a>
                                    <a class="dropdown-item" asp-action="ListRoles" asp-controller="Administration">All Roles</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
                <form method="get" class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchPhrase">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">@User.Identity.Name</a>
                    </div>
                    <div class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="LogOut">
                            <button type="submit" class="btn btn-link nav-link text-dark">Log out</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Log in</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
