@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    string errorMessage = (string) ViewData["ErrorMessage"];
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>

@if (String.IsNullOrEmpty(errorMessage) == false)
{
    <div class="text-center">
        <p>@errorMessage.Split(". ")[0]</p>
    </div>
}

