@model QuestionViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title"
                       class="form-control"
                       name="Title"
                       value="@Model.Title"
                       data-val="true"
                       data-val-required="The question title is required."
                       aria-describedby="title-error"
                       aria-invalid="true" />
                <span asp-validation-for="Title"
                      class="field-validation-error text-danger ml-2 text-danger"
                      data-valmsg-for="Title"
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body"></label>
                <input asp-for="Body"
                       class="form-control"
                       name="Body"
                       value="@Model.Body"
                       data-val="true"
                       data-val-required="The body of the question is required."
                       aria-describedby="body-error"
                       aria-invalid="true" />
                <span asp-validation-for="Body"
                      class="field-validation-error text-danger ml-2 text-danger"
                      data-valmsg-for="Body"
                      data-valmsg-replace="true"></span>
            </div>
            <button name="SubmitEditedQuestion" type="submit" class="btn btn-warning">Edit Question</button>
        </form>
    </div>
</div>
